node_modules/
/vendor/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/public/uploads
/public/js/*.js
/public/css/*.css
/public/hot
/public/storage


storage/*.key
storage/*.docx
storage/*.pdf
storage/*.json

.phpunit.result.cache
.devcontainer
.vscode
.idea/
.vagrant/
.cache/
