services:
    laravel.test:
        build:
            context: './docker/8.4'
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: 'sail-8.4/app'
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${APP_PORT:-8080}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
            PHP_CLI_SERVER_WORKERS: 10 # needed for browsershot https://github.com/spatie/browsershot/discussions/516
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - mysql
    mysql:
      image: mariadb:10.11.5
      container_name: db
      restart: unless-stopped
      tty: true
      ports:
        - '${FORWARD_DB_PORT:-3306}:3306'
      environment:
        MYSQL_DATABASE: root
        MYSQL_ROOT_PASSWORD: root
        SERVICE_TAGS: dev
        SERVICE_NAME: mysql
      volumes:
        - 'sail-mysql:/var/lib/mysql'
      networks:
        - sail

    mysql-test:
      image: mariadb:10.11.5
      container_name: db-test
      restart: unless-stopped
      environment:
        MYSQL_DATABASE: root
        MYSQL_ROOT_PASSWORD: root
        SERVICE_TAGS: dev
        SERVICE_NAME: mysql
      networks:
        - sail

    phpmyadmin:
      image: phpmyadmin:5.2.1-apache
      restart: always
      ports:
        - "8081:80"
      environment:
        - PMA_HOST=mysql
        - PMA_USER=root
        - PMA_PASSWORD=root
        - UPLOAD_LIMIT=10M
      networks:
        - sail

    phpmyadmin-test:
      image: phpmyadmin:5.2.1-apache
      restart: always
      ports:
        - "8082:80"
      environment:
        - PMA_HOST=mysql-test
        - PMA_USER=root
        - PMA_PASSWORD=root
      networks:
        - sail
networks:
    sail:
        driver: bridge
volumes:
    sail-mysql:
        driver: local
