<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="bootstrap/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage/>
  <testsuites>
    <testsuite name="Biblioteca">
      <directory suffix="Test.php">./tests/Biblioteca</directory>
    </testsuite>
    <testsuite name="Popolazione">
      <directory suffix="Test.php">./tests/Popolazione</directory>
    </testsuite>
    <testsuite name="Scuola">
      <directory suffix="Test.php">./tests/Scuola</directory>
    </testsuite>
    <testsuite name="Officina">
      <directory suffix="Test.php">./tests/Officina</directory>
    </testsuite>
    <testsuite name="AdminSys">
      <directory suffix="Test.php">./tests/AdminSys</directory>
    </testsuite>
    <testsuite name="Photo">
      <directory suffix="Test.php">./tests/Photo</directory>
    </testsuite>
    <testsuite name="Livewire">
      <directory suffix="Test.php">./tests/Livewire</directory>
    </testsuite>
    <testsuite name="Patente">
      <directory suffix="Test.php">./tests/Patente</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
