.my-page-title {
    background-color: $nomadelfia-azzurro;
    border-bottom: solid $nomadelfia-giallo 6px;
    padding: 0.5rem 0.5rem 0rem 0.5rem;;
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
}
