$nomadelfia-blu: #2f519f;
$nomadelfia-azzurro: #1d70b8;
$nomadelfia-giallo: #f9b233;
$primary: $nomadelfia-azzurro;

$body-bg: white;


// Borders
$laravel-border-color: darken($nomadelfia-blu, 10%);
$list-group-border-color: $laravel-border-color;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem; // 16px
$line-height-base: 1.6;
$text-color: #636b6f;

// Inputs
$input-border-color: darken($nomadelfia-blu, 10%);
$input-border-radius: 0.2rem;
$input-border-radius-small: 0.2rem;
