//
$nomadelfia-blu: #2F519F;
$nomadelfia-azzurro: #1D70B8;
$nomadelfia-giallo:#F9B233;
// Brands
$primary: $nomadelfia-azzurro; //#3097D1;
// $info: #8eb4cb;
// $success: #2ab27b;
// $warning: #cbb956;
// $danger: #bf5329;

// Body
$body-bg: white;

//navbar
$font-size-navbar: 1.2rem;

// Borders
$laravel-border-color: darken($nomadelfia-blu, 10%);
$list-group-border-color: $laravel-border-color;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem; // 16px
$line-height-base: 1.6;
$text-color: #636b6f;

// Inputs
$input-border-color: darken($nomadelfia-blu, 10%);
// $input-placeholder-color: darken($nomadelfia-blu, 10%);
$input-border-radius:   0.2rem;// 0;
// $input-border-radius-large:    0;
$input-border-radius-small: 0.2rem;
