.navbar {
  font-size: 1.2rem;
}

.dropdown-item {
  font-size: 1.2rem;
}

.list-group-item {
  padding: 0.25rem 0.25rem;
}

.card-header-mod {
  background-color: #1D70B8;
  color: white;
}

.card-body-mod {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  padding: 0.55em;
  font-size: 1.25em;
  font-weight: 500;
}

.card-mod {
  margin-bottom: 1em;
  margin-top: 1em;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-label {
  font-weight: 500;
  color: white;
  display: inline-block;
}

.file-label:focus,
.file-label:hover {
  cursor: pointer;
  color: white;
}

.my-page-title {
  background-color: #1D70B8;
  border-bottom: solid #F9B233 6px;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
}

.thead-inverse th {
  color: #0c1529;
  background-color: #F9B233;
}

.thead-inverse th a {
  color: #0c1529;
}

table td {
  color: white;
  font-weight: bold;
  table-layout: fixed;
  word-wrap: break-word;
  background-color: #1D70B8;
}

tr:hover td {
  background-color: #2F519F;
}

.dropdown-toggle {
  height: 38px;
}

